/* Basic settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

/* Custom properties */

:root {
    --background: rgb(252, 248, 255);
    --foreground: rgb(36, 36, 40);
    --near: #423342;
    --far: #f2eef2;
    --edge-upper: #aaa;
    --edge-lower: #555;
    --shadow: #aaa;
    --max: white;
    --primary: #417;
    --secondary: #714;
    --primary-earth: #156;
    --secondary-earth: #651;
    --warning: #912;
}

/* Colour theming */

.theme--dark {
    --background: rgb(36, 36, 40);
    --foreground: rgb(208, 204, 212);
    --near: #e4dde4;
    --far: #393339;
    --edge-upper: #ccc;
    --edge-lower: #999;
    --shadow: rgb(12, 12, 16);
    --max: black;
    --primary: #99d;
    --secondary: #c9c;
    --primary-earth: #8bc;
    --secondary-earth: #cb8;
    --warning: #f89;
}

@media screen and (prefers-color-scheme: dark) {

    :root {
        --background: rgb(36, 36, 40);
        --foreground: rgb(208, 204, 212);
        --near: #e4dde4;
        --far: #393339;
        --edge-upper: #ccc;
        --edge-lower: #999;
        --shadow: rgb(12, 12, 16);
        --max: black;
        --primary: #99d;
        --secondary: #c9c;
        --primary-earth: #8bc;
        --secondary-earth: #cb8;
        --warning: #f89;
    }
}

/* Container classes */

.cont--flex {
    display: flex;
}

.cont--flex--col {
    flex-direction: column;
}

.cont--flex--center {
    justify-content: center;
    align-items: center;
}

.cont--flex--between {
    justify-content: space-between;
    align-items: center;
}

/* Framing classes */

.border--thin {
    border: 1px solid var(--edge-upper);
    border-radius: 3px;
}

/* Visibility classes */

.visually-hidden {
    height: 0;
    width: 0;
    clip: rect(0 0 0 0);
    font-size: 0.01rem;
    opacity: 0;
}

/* Text classes */

.text--block {
    display: block;
}

.text--mono {
    font-family: mono;
    font-size: 0.9rem;
}

.text--vsmall {
    font-size: 0.55rem;
}

.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--primary {
    color: var(--primary);
}

.text--secondary {
    color: var(--secondary);
}

.text--warning {
    color: var(--warning);
}

/* Area classes */

.area--primary {
    background-color: var(--primary);
}

.area--secondary {
    background-color: var(--secondary);
}

/* Content elements */

code,
kbd {
    padding: 0.1rem 0.3rem;
    background-color: var(--far);
    border-radius: 3px;
    font-size: 0.8rem;
}

code.text--block {
    padding: 0.5rem 0.6rem 0.4rem 0.6rem;
    line-height: 1.25rem;
    white-space: pre;
    overflow-X: auto;
}

code.text--block > span.text--block {
    padding-bottom: 0.3rem;
}

.code--dl {
    color: var(--secondary-earth);
}

.code--op, .code--fl {
    color: var(--primary-earth);
}

.code--kw {
    color: var(--primary);
}

.code--id {
    color: var(--secondary);
}

.code--vl {
    color: var(--warning);
}

.break--semi {
    display: block;
    margin-bottom: 0.5rem;
}

kbd {
    border: 1px solid var(--edge-lower);
    border-radius: 3px;
    box-shadow: 1px 1px 2px var(--shadow);
}

/* Minor elements */

a {
    color: var(--primary);
    text-decoration: none;
}

a:visited {
    color: var(--secondary);
}

li {
    list-style: square;
}

label {
    display: block;
    text-align: left;
}

input,
textarea,
button {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid var(--edge-upper);
    border-radius: 3px;
}

input,
textarea {
    background: var(--max);
    color: inherit;
    border-top-color: var(--edge-lower);
    border-left-color: var(--edge-lower);
    box-shadow: inset 1px 1px 2px var(--shadow);
}

button {
    background-color: inherit;
    color: inherit;
    border-right-color: var(--edge-lower);
    border-bottom-color: var(--edge-lower);
    box-shadow: 1px 1px 2px var(--shadow);
}

button:active,
button[aria-pressed="true"] {
    color: var(--secondary);
    border-top-color: var(--edge-lower);
    border-left-color: var(--edge-lower);
    border-right-color: var(--edge-upper);
    border-bottom-color: var(--edge-upper);
    box-shadow: inset 1px 1px 2px var(--shadow);
}

/* Major elements */

/* - body */

body {
    min-height: 100vh;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
    color: var(--foreground);
}

/* - header */

header {
    padding: 1rem;
}

header svg {
    display: inline-block;
    stroke: var(--edge-lower);
    stroke-width: 1.15;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

header a svg {
    height: 2rem;
    width: 2rem;
}

header .theme-toggle {
    height: 1.5rem;
    width: 1.5rem;
    stroke-width: 1.4;
    stroke-dasharray: 48;
    stroke-dashoffset: -12;
    fill: var(--background);
    transition: 500ms ease;
}

body.theme--dark .theme-toggle {
    stroke-dashoffset: 4;
    fill: var(--edge-lower);
}

header h1 {
    padding: 0.3rem 0 0rem 0.5rem;
    font-size: 1.5rem;
}

header a h1,
header a:visited h1 {
    color: var(--edge-lower);
}

/* - main */

main {
    flex: 1;
    height: 100%;
    padding: 2.5rem;
}

/* - footer */

footer {
    flex: 0;
    padding: 1.5rem;
}

footer p a,
footer p a:visited {
    color: var(--foreground);
}

/* Vue components */

/* - App */

body::before {
    content: "1-column";
    display: none;
}

#app a.router-link-exact-active {
    color: var(--foreground);
}

.loader {
    height: calc(100vh - 8.5rem);
    padding-bottom: 5vh;
}

.loader > div {
    width: 2rem;
    height: 2rem;
    background: var(--edge-upper);
    border-radius: 3px;
    animation: pulse 1500ms ease-out infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

/* - Frame */

.frame {
    display: grid;
    min-height: calc(100vh - 8.5rem);
    justify-content: center;
    grid-gap: 1.25rem;
    grid-template-columns: minmax(300px, 475px);
    grid-template-rows: max-content;
}

.filter--dot {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: 150ms 100ms ease;
}

/* - FrameInput */

.frame-input {
    position: relative;
    height: max-content;
}

.frame-input > input {
    width: calc(100% - 6.1rem);
    border-radius: 6px 3px 3px 6px;
    transition: 150ms 100ms ease;
}

.frame-input > input:focus {
    outline: none;
    border-radius: 12px 3px 3px 6px;
}

.frame-input .filter--dot {
    top: -8px;
    left: -8px;
}

.frame-input > input:focus ~ .filter--dot {
    top: -20px;
    left: -20px;
    width: 20px;
    height: 20px;
    opacity: 1;
}

.frame-input > button {
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 0.75rem;
    padding: 0.55rem;
    font-size: 1rem;
}

.frame-input > button:first-of-type {
    font-weight: bold;
}

.frame-input > button:last-of-type {
    border-radius: 3px 3px 6px 3px;
}

.frame-input > button > svg {
    width: 100%;
    height: 100%;
    stroke-width: 1;
    stroke-linecap: round;
    stroke: var(--edge-lower);
}

.frame-input > button:active > svg {
    stroke: var(--secondary);
}

/* - FrameEntry */

.frame-entry {
    position: relative;
    height: max-content;
    padding: 1.5rem;
    border-radius: 6px 6px 3px 3px;
    transition: 150ms 100ms ease;
}

.frame-entry .filter--dot {
    top: -4px;
    right: -4px;
}

.frame-entry:focus-within {
    border-radius: 6px 24px 3px 3px;
}

.frame-entry:focus-within .filter--dot {
    top: -16px;
    right: -16px;
    width: 20px;
    height: 20px;
    opacity: 1;
}

.frame-entry h1 {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.frame-entry section h2 {
    margin: 1.25rem 0rem 1rem 0rem;
    font-size: 1rem;
}

.frame-entry section, section > p {
    margin-top: 0.75rem;
}

.frame-entry section > p:not(:last-child) {
    margin-bottom: 0.75rem;
}

.frame-entry p {
    line-height: 1.5;
}

.frame-entry section > code.text--block:not(:last-child) {
    margin: 1rem 0;
}

.frame-entry button {
    padding: 0rem 0.25rem;
}

.frame-entry ul {
    padding-left: 1rem;
    line-height: 1.5;
}

/* - FrameIndex */

.frame-index {
    height: max-content;
    font-size: 0.9rem;
}

.frame-index > p,
.frame-index > ul {
    padding: 1.25rem;
    border-radius: 6px 3px 3px 18px;
}

.frame-index > ul {
    padding-left: 1.25rem;
}

.frame-index > ul > li {
    padding: 0.25rem 0;
    max-height: 7.5rem;
    overflow: hidden;
}

.frame-index > ul > li:first-child {
    padding: 0 0 0.25rem 0;
}

.frame-index > ul > li:last-child {
    padding: 0.25rem 0 0 0;
}

.frame-index__preview {
    display: inline-block;
    position: relative;
}

.frame-index__preview > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 7.5rem;
    background-image: linear-gradient(180deg, transparent 50%, var(--background) 95%);
    z-index: 1;
}

.frame-index__preview > h1 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.frame-index__preview > h2 {
    margin: 0.5rem 0rem;
    font-size: 0.9rem;
}

.frame-index__preview > p {
    margin-top: 0.35rem;
    font-size: 0.8rem;
    line-height: 1.5;
}

.frame-index__preview > p:not(:last-child) {
    margin-bottom: 0.35rem;
}

.frame-index__preview > code.text--block:not(:last-child) {
    margin: 0.75rem 0;
}

.frame-index__preview button {
    padding: 0rem;
    border: none;
    box-shadow: none;
    pointer-events: none;
}

.frame-index__preview > ul {
    padding-left: 0.75rem;
    line-height: 1.5;
}

.frame-index a {
    color: inherit;
}

.frame-index a:visited {
    color: inherit;
}

.frame-index a h1 {
    color: var(--primary);
}

.frame-index a:visited h1 {
    color: var(--secondary);
}

.frame-index a.router-link-exact-active > article > h1 {
    color: var(--foreground);
}

.frame-index a.router-link-exact-active > article > div {
    cursor: default;
}

/* - FrameBatch */

.frame-batch {
    margin-bottom: 0.5rem;
}

.frame-batch li {
    display: inline-block;
    margin: 0rem 0.25rem 0.25rem 0rem;
    padding: 0.25rem 0.5rem;
    list-style: none;
    font-size: 0.85rem;
    box-shadow: 1px 1px 2px var(--far);
    cursor: pointer;
}

.frame-batch li:hover > svg,
.frame-batch li:focus-within > svg {
    stroke: var(--secondary);
}

.frame-batch li svg {
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.25rem;
    stroke-width: 1;
    stroke-linecap: round;
    stroke: var(--edge-lower);
    pointer-events: none;
}

/* - transitions */

.v-enter-active {
    transition: opacity 150ms ease;
}

.v-enter {
    opacity: 0;
}

.v-leave-active {
    transition: opacity 0ms ease;
}

.v-leave {
    opacity: 0;
}

/* Media queries */

@media screen and (min-width: calc(700px + 6rem)) {

    body::before {
        content: "2-column";
        display: none;
    }

    .frame {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
    }

    .frame-input > button:last-of-type {
        border-radius: 3px 3px 3px 3px;
    }

    .frame-index {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .frame-entry {
        grid-column: 2 / 3;
        grid-row: 1 / span all;
        border-radius: 6px 6px 18px 6px;
    }

    .frame-batch ul {
        justify-content: end;
    }

    .frame-batch li {
        margin: 0rem 0rem 0.25rem 0.25rem;
    }

    .frame-index > p,
    .frame-index > ul {
        border-radius: 6px 6px 6px 18px;
    }

}

@media screen and (min-width: calc(950px + 6rem)) {

    .frame {
        grid-template-columns: 475px 475px;
    }
}

@media screen and (prefers-reduced-motion: reduce) {

    * {
        transition: none;
        animation: none;
    }

    html {
        scroll-behavior: auto;
    }
}
